html,
body {
  overflow-x: hidden;
}
body {
  min-width: 100vw;
}

.homeContainer {
  display: flex;
  max-width: 100vw;
  padding: 12rem;
}

.introContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.homeItem {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .introContainer {
    flex-direction: column;
    gap: 10rem;
  }
}
